.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 02px;
    background-color: #bcd5ee; /* Light gray background */
    margin-top: 20px; /* Adjust this value to move the navbar down */
  }
  
  .nav-button {
    background-color: #7bb8f5; /* Blue background */
    color: rgb(34, 32, 32);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  